<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ product.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"> <!-- Ścieżka do pliku CSS -->
</head>
<body>
    <div id="header"></div> <!-- Miejsce, w którym wstawimy nagłówek -->

    <div class="container mt-4">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ product.image }}" alt="Product Image" class="img-fluid rounded">
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h2>{{ product.title }}</h2>
            <p class="text-muted">{{ product.description }}</p>
            <h4 class="text-success">${{ product.price }}</h4>
            <form action="/cart/add" method="POST">
              <input type="hidden" name="productId" value="{{ product.id }}">
              <input type="hidden" name="title" value="{{ product.title }}">
              <input type="hidden" name="price" value="{{ product.price }}">
              <button type="submit" class="btn btn-primary">Add to cart</button>
            </form>
          </div>
        </div>
      </div>

    <!-- Bootstrap and jQuery Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(function() {
            $("#header").load("/resources/header.html", function(response, status, xhr) {
                if (status == "error") {
                    console.log("Error loading header: " + xhr.status + " " + xhr.statusText);
                }
            });
        });
    </script>
</body>
</html>
