.rating-modal .star {
    cursor: pointer;
    font-size: 2rem; /* Ustaw początkowy rozmiar gwiazdek w oknie oceny */
  }


  .user-stars .star {
    cursor: pointer;
    font-size: 1.5rem;
  }

  .average-stars .star {
    font-size: 1.5rem;
  }

  .star.gold {
    color: gold;
    font-size: 1.5em;
  }

  .star.gray {
    color: gray;
    font-size: 1.5em;
  }

  .rating p {
    margin-bottom: 0px; /* Zmniejszony odstęp między napisem Rating a gwiazdkami */
  }

  .rating .stars {
    margin-bottom: 20px; /* Zwiększony odstęp między gwiazdkami a przyciskiem */
  }

  /* Custom styles for the product cards and navbar */
  .card-img-top {
    height: 200px;
    object-fit: contain;
    width: 100%; /* Ustaw szerokość na 100% */
    aspect-ratio: 1 / 1; /* Ustaw proporcje na kwadrat */
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ustaw wysokość na 100% */
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Pozwól, aby card-body rosło, aby wypełnić przestrzeń */
  }

  .product-page {
    margin-top: 20px; /* Odstęp od góry */
  }

  .product-details {
    margin: 20px; /* Odstęp po bokach i od dołu */
    text-align: left; /* Wyrównanie tekstu do lewej */
  }

  /* Umożliwia wyśrodkowanie tekstu */
  .product-details h2,
  .product-details p,
  .product-details h4 {
    margin-bottom: 10px; /* Odstęp między elementami tekstowymi */
  }

  /* Dostosowanie responsywności */
  @media (max-width: 768px) {
    .product-image {
      margin-bottom: 20px; /* Odstęp od dołu */
    }
  }

  @media (min-width: 768px) {
    .product-image {
      margin-bottom: 0; /* Brak odstępu, gdy obrazek jest obok tekstu */
    }
  }

  .custom-btn {
    max-width: 150px; /* Możesz dostosować tę wartość według potrzeb */
    width: 100%; /* Aby przycisk rozciągał się do maksymalnej szerokości, nie przekraczając max-width */
  }